header{
    background-color: #e4bbea;
    justify-items: center;
    padding: 10px;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0%;
}
h1{
    color: #7b1fa2;
}
.container-fluid{
    padding: 0%;
    background-color: #e4bbea;
    width: 100%;
}
.navbar{
    padding: 0%;
    width: 100%;
    align-content: space-between;
    position: fixed;
    top: 76px;
}
.navbar-nav{
    padding: 0%;
    width: 100%;
    align-content: space-around;
}
.dropdown-menu{
    min-width: max-content;
    width: auto;
    background-color: #f6edf7;
}
main{
    background-color: #f6edf7;
    margin-top: 116px;
    align-content: center;
    justify-items: center;
    text-align: center;
    height: 70vh;
    font-size: 25px;
    color: indigo;
}
section{
    width: 60%;
}
p{
    background-color:#e4bbea;
    border-radius: 20px;
    width: 100%;
}
footer{
    background-color: #e4bbea;
    justify-items: center;
    padding: 15px;
    color: #7b1fa2;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 80%;
    padding: 0%;
}
.imgs{
    width: 100%;
    height: 35vh;
    border-radius: 10px;
    margin-right: 15px;
}
aside{
    width: 80%;
}
article{
    display: flex;
    height: 45vh;
    align-items: center;
}
.form-label, .form-control, .btn{
    margin-bottom: 10px;
}